doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(name="description",
					content="Website of BITS Dubai Motorsports from BITS Pilani Dubai Campus, highlighting it's strengths and sponsors"
					)

		
		block head

		link(rel='stylesheet' href='../css/main.css')
		
		title BITS Dubai Motorsports
	body
		include ../components/_nav.jade
		block content
		include ../components/_contact.jade
		script
			include ../js/inline.js