extends _layout.jade

block head
	link(rel="preload", as="image", href="../assets/bg/hero.jpg", fetchpriority="high")

block content
	section#hero.cover(
			style = 'background-image: linear-gradient( hsla(0, 0%, 0%, 0.75) 0%, hsla(0, 0%, 0%, 0.75) 85%, black 100% ) , url("../assets/bg/hero.jpg")'
		)
		div
			h1 This is<br/>BITS Motorsports.
			a#hero_link.btn(href="#aboutUs") 
				.scroll-down
			//-Learn More
		img#heroImg.logo(
			data="logo/bms.png",
			alt="BMS Logo",
			fetchpriority="high"
			)
	section(bg="team.jpg", style="background-position: top")#aboutUs.content
		h1 Who are we?
		.banners
			div
				img(data="icon/team.png", alt="Team")
				p <b>Al Fursan</b> is our team of aspiring engineers
					br
					span from BITS Dubai
			div
				img(data="logo/sae.svg", alt="Formula SAE")
				p Part of <b>Society of Automotive Engineers</b>
			div
				img(data="icon/topRated.png", alt="3rd Place Top Rated")
				p <b>Placed 3rd</b>
					br
					span FS Netherlands 2022
					br
					span Business Plan Pitch
				//- Participated in various <b>Formula Student</b> competitions
	//- section(bg="working.jpg" style="background-position: top")#goals.content
		h1.red Our Goals
		p Our brand new team, with members from various fields are working toward the following goals:
	//- section(bg="bitsCampus.jpg")#bits.cover
		div
			h1 Diamond Sponsor
			a.bitsBtn.btn(href="https://www.bits-pilani.ac.in/Dubai/", target="_blank") Learn More
		img.logo(data="logo/bitsLogo.svg", alt="BITS Logo")
	section(bg="khoory.jpg")#mahy_khoory.cover
		div
			h1 Title Sponsor
			a.mahy_khooryBtn.btn(href="https://mahykhoory.com/", target="_blank") Website
		img.logo(data="logo/khoory_light.svg", alt="Mahy Khoory Logo")

	section(bg="titan_parking.jpg")#titan.cover
		div
			h1 Technical Sponsor
			a.titanBtn.btn(href="#", target="_blank", style="pointer-events: none") Website
		img.logo(data="logo/titan_white.svg", alt="Titan Performance Logo")

	section(bg="nrt.png")#nrt.cover
		div
			h1 Technical Sponsor
			a.apriliaBtn.btn(href="https://www.societymotors.ae/en", target="_blank") Website
		img.logo(data="logo/nrt.png", alt="NRT Performance Logo")

	section(bg="sponsorship.jpg").cover
		div
			h1 Sponsorship Tiers
			a.alFursanBtn.btn(href="sponsor_us.html", target="_blank") Learn More
		//- .tiers
			.title Title
			.diamond Diamond
			.gold Gold
			.silver Silver
			